@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #FFFFFF;
}



.navbar {
    background-color: #3C6E71;
    color: #D9D9D9;
    padding: 0.1rem;
}

.hello {
    padding: 100px;
    text-wrap: nowrap;
    position: relative;
    background-image: url("assests/bg1.png");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.45);
    background-blend-mode: overlay;
}


.hello h1 {
    font-family: "Poppins";
    font-size: 3rem;
    display: flex;
    justify-content: center;
}

.hello p {
    font-family: "SUSE Mono";
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    color: white;
}

.arvr, .gdsc {
    padding: 100px;
}

.arvr__info, .gdsc__info {
    font-family: "SUSE Mono";
    padding-top: 20px;
    line-height: 1.5rem;
}

.arvr__date, .gdsc__date {
    font-family: "SUSE Mono";
}

.arvr h2, .gdsc h2 {
    font-family: "Poppins";
}

.arvr h2 {
    text-decoration: underline;
}

.arvr {
    background-color: #f1faee;
}

.gdsc {
    background-color: #dee2ff;
}