@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');


body {
    font-family: "Bricolage Grotesque";
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.navbar {
    color: #EDDDD4;
    background-color: #283D3B;
    padding: 1rem;
    align-items: right;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.links{
    margin: 1rem;
}

.links:hover{
    color: #FE001a;
    text-decoration: underline;
    padding-right: 2rem;
}

.header {
    display: flex;
    font-size: 2rem;
    align-items: flex-end;
}

.header img{
    width: 300px;
}

.blink {
    animation: blinker 1.25s linear infinite;
}

@keyframes blinker {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

#educational-details {
    background-color: #A8DADC;
    color: #1D3557;
    padding: 1rem;
    font-weight: 300;
}

.education-section{
    background-color: azure;

}
.education-level{
    background-color: #1D3557;
}